<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Zvatada.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
				<key>dateExpires</key>
				<string>05/05/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BottomPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FlagPhoneNumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OpalImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SSToastMessage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ViewAnimator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20211102.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28D915E74E454C403F248E872EDD129FC24BF308</string>
						<key>dateExpires</key>
						<string>05/05/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>uv.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2VD7H78HC</string>
						<key>name</key>
						<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.10</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U2VD7H78HC.com.Zvatada.Zvatada</string>
				<key>com.apple.developer.team-identifier</key>
				<string>U2VD7H78HC</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Zvatada.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>709d4a97-3f57-4a1b-bb44-effdb3c7a9d3</string>
				<key>dateExpires</key>
				<string>17/11/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U2VD7H78HC</string>
				<key>name</key>
				<string>WEBKYPE INFO SERVICES PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
